<div class="profile">
    <div class="profile-description">
        <div class="title">
            <h3>Mi perfil</h3>
        </div>
        <div class="description">
            <img [src]="userData.photo" alt="profil" />
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi at minus id quo odit officiis quaerat accusantium repellendus maxime hic culpa harum, exercitationem asperiores ipsa esse, labore reprehenderit atque adipisci?
            </p>
            <button routerLink="/updateProfile" type="button" class="btn btn-info">Actualizar mi perfil</button>
        </div>
    </div>
    <div class="profile-files">
        <div class="title">
            <h3>Archivos</h3>
        </div>
        <div class="files">
            <button type="button" class="btn btn-primary">INE<img *ngIf="userData.documents.ine" class="btn-white" src="../../../assets/boton-x.svg" alt=""></button>
            <button type="button" class="btn btn-primary">COMP ESTUDIO <img *ngIf="userData.documents.compEst" class="btn-white" src="../../../assets/boton-x.svg" alt=""></button>
            <button type="button" class="btn btn-primary">COMP DOMICILIO AVAL<img class="btn-white" src="../../../assets/boton-x.svg" alt=""></button>
            <button type="button" class="btn btn-primary">INE AVAL<img class="btn-white" src="../../../assets/boton-x.svg" alt=""></button>
        </div>
    </div>
</div>