<div class="profile">
    <div class="profile-description">
        <div class="title">
            <h3>Mi perfil</h3>
        </div>
        <div class="description">
            <img *ngIf="userData.photo" [src]="userData.photo" alt="profil" />
            <img *ngIf="!userData.photo" src="../../../assets/profilePhoto.png" alt="profil" />
            <input type="file" (change)="uploadProfilePhoto($event)">

            <p>
                Nombre: {{userData.name | uppercase}} {{userData.fatherSurname| uppercase}} {{userData.motherSurname|uppercase}} <br> Fecha de nacimiento: {{userData.birthDate}}
            </p>
            <button routerLink="/updateProfile" type="button" class="btn btn-info">Actualizar mi perfil</button>
        </div>
    </div>
    <div class="profile-files">
        <div class="title">
            <h3>Archivos</h3>
        </div>
        <div class="files">

            <button type="file" class="btn btn-primary">INE
                <input type="file" (change)="uploadFile($event,'ine')">
                <img *ngIf="!userData.documents.ine" class="btn-white" src="../../../assets/boton-x.svg" alt="">
                <img *ngIf="userData.documents.ine" class="btn-white" src="../../../assets/comprobado.svg" alt="">
            </button>
            <button type="button" class="btn btn-primary">COMP ESTUDIO
                <input type="file" (change)="uploadFile($event,'compEst')">
                <img *ngIf="!userData.documents.compEst" class="btn-white" src="../../../assets/boton-x.svg" alt="">
                <img *ngIf="userData.documents.compEst" class="btn-white" src="../../../assets/comprobado.svg" alt="">
            </button>
            <button type="button" class="btn btn-primary">COMP DOMICILIO AVAL
                <input type="file" (change)="uploadFile($event,'compDomAval')">
                <img *ngIf="!userData.documents.compDomAval" class="btn-white" src="../../../assets/boton-x.svg" alt="">
                <img *ngIf="userData.documents.compDomAval" class="btn-white" src="../../../assets/comprobado.svg"
                    alt="">
            </button>
            <button type="button" class="btn btn-primary">INE AVAL
                <input type="file" (change)="uploadFile($event,'ineAval')">
                <img *ngIf="!userData.documents.ineAval" class="btn-white" src="../../../assets/boton-x.svg" alt="">
                <img *ngIf="userData.documents.ineAval" class="btn-white" src="../../../assets/comprobado.svg" alt="">
            </button>
        </div>
    </div>
</div>