<div class="login-form">
  <h1>Bienvenido</h1>
    <form>
      <div class="form-group">
        <label>Correo eletrónico</label>
        <input type="email" class="form-control" />
      </div>
      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" class="form-control" />
      </div>
        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
      </form>
      <a href="">¿Olvidaste tu contraseña?</a>
      <a href="">Registrarse aquí</a>
</div>
