.login-form {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 500px;
}

.btn-primary {
    background-color: #ff4d00;
    outline: none;
    border: none;
    border-radius: 45px;
    margin-top: 30px;
}

.btn-primary:hover {
    background-color: none;
}

.form-group {
    margin-top: 30px;
}

a {
    color: white;
}

.message-title {
    font-size: 150%;
}

.message-login-animation {
    background-color: #FF4D00;
    position: relative;
    border-radius: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    animation: moveContent .5s linear;
}

@keyframes moveContent {
    0% {
        left: -5%;
        top: 0px;
    }
    25% {
        left: 5%;
        top: 0px;
    }
    50% {
        left: -5%;
        top: 0px;
    }
    75% {
        left: 5%;
        top: 0px;
    }
    100% {
        left: -5%;
        top: 0px;
    }
}
