<div class="container">
    <div class="row">
        <div class="col-6 move-left">
            <div class="input-group">
                <input type="search" class="form-control rounded btn-border" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <button type="button" class="btn"><img class="btn-white" src="../../../assets/search.svg"
                        alt=""></button>

            </div>
        </div>
    </div>
</div>

<!-- <div class="container">
    <a class="a-none" routerLink="/lodgingDetail">
        <div class="row lodging">
            <div class="col-3">
                <img class="lodgin" src="../../../assets/images.jpg" alt="">
            </div>
            <div class="col-9">
                <h1 class="tittle">Express</h1>
                <p class="p-lodgin">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est harum consequatur natus nulla. Tempore, exercitationem! Sint, dignissimos sequi esse nobis explicabo quia dolor nemo veniam minima ipsam natus obcaecati recusandae! Modi perspiciatis
                    sed culpa voluptatum nihil at, ex dicta expedita impedit rem iusto ipsum? Quas voluptate eos quibusdam porro itaque eum, quis expedita vero, earum, facilis aspernatur consequatur labore rem?</p>
            </div>
        </div>
    </a>
</div> -->

<div class="container lodging">
    <a class="a-none" routerLink="/lodgingDetail">
        <div class="row">
            <div class="col-3">
                <img class="img-lodging" src="../../../assets/carrusel2.jpg" alt="img of departament">
            </div>
            <div class="col-9" style="text-align: justify;">
                <h1 class="h-title">
                    Express
                </h1>
                <p class="p-lodging">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa quae magni quaerat, explicabo voluptates delectus provident soluta expedita sapiente laudantium, cumque placeat, assumenda id possimus maxime obcaecati deleniti eligendi. Non. Placeat, nobis
                    natus temporibus illo sequi eaque blanditiis corporis ad voluptatibus ratione quis libero eveniet eos quod a quos expedita porro incidunt voluptatem. Veniam natus, cupiditate sapiente at alias blanditiis! Molestiae, illum itaque asperiores
                    ullam doloribus nam facere quos magnam. Labore, dolores corrupti architecto autem deleniti perferendis quibusdam minus quia excepturi animi vitae amet voluptates deserunt inventore laboriosam! Aliquid, iusto.
                </p>
            </div>
        </div>
    </a>
</div>
<div class="container lodging">
    <a class="a-none" routerLink="/lodgingDetail">
        <div class="row">
            <div class="col-3">
                <img class="img-lodging" src="../../../assets/carrusel2.jpg" alt="img of departament">
            </div>
            <div class="col-9" style="text-align: justify;">
                <h1 class="h-title">
                    Express
                </h1>
                <p class="p-lodging">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa quae magni quaerat, explicabo voluptates delectus provident soluta expedita sapiente laudantium, cumque placeat, assumenda id possimus maxime obcaecati deleniti eligendi. Non. Placeat, nobis
                    natus temporibus illo sequi eaque blanditiis corporis ad voluptatibus ratione quis libero eveniet eos quod a quos expedita porro incidunt voluptatem. Veniam natus, cupiditate sapiente at alias blanditiis! Molestiae, illum itaque asperiores
                    ullam doloribus nam facere quos magnam. Labore, dolores corrupti architecto autem deleniti perferendis quibusdam minus quia excepturi animi vitae amet voluptates deserunt inventore laboriosam! Aliquid, iusto.
                </p>
            </div>
        </div>
    </a>
</div>
<div class="container lodging">
    <a class="a-none" routerLink="/lodgingDetail">
        <div class="row">
            <div class="col-3">
                <img class="img-lodging" src="../../../assets/carrusel2.jpg" alt="img of departament">
            </div>
            <div class="col-9" style="text-align: justify;">
                <h1 class="h-title">
                    Express
                </h1>
                <p class="p-lodging">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa quae magni quaerat, explicabo voluptates delectus provident soluta expedita sapiente laudantium, cumque placeat, assumenda id possimus maxime obcaecati deleniti eligendi. Non. Placeat, nobis
                    natus temporibus illo sequi eaque blanditiis corporis ad voluptatibus ratione quis libero eveniet eos quod a quos expedita porro incidunt voluptatem. Veniam natus, cupiditate sapiente at alias blanditiis! Molestiae, illum itaque asperiores
                    ullam doloribus nam facere quos magnam. Labore, dolores corrupti architecto autem deleniti perferendis quibusdam minus quia excepturi animi vitae amet voluptates deserunt inventore laboriosam! Aliquid, iusto.
                </p>
            </div>
        </div>
    </a>
</div>