.div-title {
    background-color: #242424;
    margin-top: 2em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.div-detail {
    background-color: #242424;
    margin-top: 2em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin-bottom: 5em;
}

.title {
    text-align: center;
    font-family: sans-serif;
}

.title-2 {
    text-align: left;
    padding-left: 1em;
    font-family: sans-serif;
}

.p-detail {
    padding-left: 5em;
    padding-right: 5em;
    font-family: sans-serif;
    text-align: justify;
}

.img-detail {
    padding-top: 1em;
    padding-bottom: 1.5em;
    text-align: center;
    align-content: center;
    border-radius: 75px;
    align-content: center;
    width:400px
}

.img-center {
    align-content: center;
    text-align: center;
}

.btn-outWhite {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #201c1c;
    color: white;
    border: 1px solid white;
    border-radius: 45px;
    margin-left: 2em;
}

.img-profile {
    margin-left: 5em;
    width: 80%;
    height: 80%;
    border-radius: 120px;
    margin: 1em;
}

.nombre-desing {
    padding-top: 15%;
}

.hide {
    visibility: hidden;
}

.btn-primary {
    margin: 20px;
    width: 80%;
    height: 60px;
    border: none;
    background-color: #FF4D00;
    outline: none;
}