<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="div-title">
                <h1 class="title">Express(nombre del alojamiento)</h1>
            </nav>
        </div>

        <div class="col-12 div-detail">

            <div class="img-center">
                <img class="img-detail" src="../../../assets/images.jpg" alt="">
            </div>

            <p class="p-detail">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis deserunt odit rem dolorum possimus tempore autem. At delectus praesentium error tenetur cum, ratione ea quis labore iure aut aliquid optio! Quae iste necessitatibus perspiciatis ex dignissimos
                incidunt est provident suscipit corporis! Praesentium nam suscipit, eius velit accusamus quidem cumque voluptatibus natus impedit asperiores recusandae modi, assumenda ducimus alias neque qui.
            </p>

            <nav>
                <h1 class="p-detail">
                    Ver informacion del dueño
                </h1>
                <br>
                <br>

                <div class="row">
                    <div class="hide col-2">
                        <h1>espacio</h1>
                    </div>
                    <div class="col-3">
                        <img class="img-profile" src="../../../assets/profil.jpg" alt="">
                    </div>

                    <div class="col-6">
                        <h1 class="nombre-desing">Nombre completo</h1>
                    </div>
                </div>

                <div class="row">
                    <h1 class="title-2 col-12">
                        Descripcion
                    </h1>
                    <p class="p-detail col-12">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam est possimus odit dolores velit sed placeat quisquam numquam iste. Itaque est impedit et quia odit voluptatem quasi qui consectetur perferendis? Corporis, quo! Nulla eaque corporis harum
                        distinctio nisi libero dicta at delectus. Officiis mollitia quibusdam facere placeat expedita ipsam, similique optio voluptate perferendis debitis rem libero nulla dolorem id amet?
                    </p>
                    <h1 class="title-2 col-12">
                        Telefono
                    </h1>
                    <p class="p-detail col-12">
                        2381565651
                    </p>
                </div>
            </nav>

            <nav class="img-center">
                <button type="button" class="btn btn-primary">Enviar solicitud</button>
            </nav>


        </div>
    </div>
</div>