<div *ngIf="!lodging">
    no hay suficiente informacion de este alojamiento
</div>
<div class="container" *ngIf="lodging">
    <div class="row">
        <div class="col-12">
            <nav class="div-title">
                <h1 class="title">{{lodging.name}} </h1>
            </nav>
        </div>
        <div class="col-12 div-detail">

            <div class="img-center">
                <img class="img-detail" src="{{lodging.firstPhoto}}" alt="">
            </div>

            <p class="p-detail">
                Ciudad: {{lodging.location.city}} <br> Distrito: {{lodging.location.district}} <br> Numero: {{lodging.location.outdoorNumber}} <br> Estadp: {{lodging.location.state}} <br> Calle: {{lodging.location.street}} <br> CP: {{lodging.location.zipCode}}
                <br>

            </p>

            <nav>
                <h1 class="p-detail">
                    Ver informacion del dueño
                </h1>
                <br>
                <br>

                <div class="row">
                    <div class="hide col-2">
                        <h1>espacio</h1>
                    </div>
                    <div class="col-3">
                        <img *ngIf="lodging.manager.photo" class="img-profile" src="{{lodging.manager.photo}}" alt="">
                        <img *ngIf="!lodging.manager.photo" class="img-profile" src="../../../assets/profilePhoto.png" alt="">
                    </div>

                    <div class="col-6">
                        <h1 class="nombre-desing">{{lodging.manager.firstName}}</h1>
                    </div>
                </div>

                <div class="row">
                    <h1 class="title-2 col-12">
                        Descripcion
                    </h1>
                    <p class="p-detail col-12">
                        Nombre: {{lodging.manager.firstName}} <br> Apellido parterno: {{lodging.manager.fatherSurname}} <br> Apellido materno: {{lodging.manager.motherSurname}} <br> Usuario: {{lodging.manager.username}} <br>
                    </p>
                    <h1 class="title-2 col-12">
                        Telefono
                    </h1>
                    <p class="p-detail col-12">
                        2381565651
                    </p>
                </div>
            </nav>
            <!-- {{date|date:'H:mm'}} -->
            <nav class="img-center">
                <button data-toggle="modal" data-target="#exampleModal1" type="button" class="btn btn-primary" (click)="sendRequest(lodging.id)">Enviar solicitud</button>
            </nav>


        </div>
    </div>
</div>


<!-- Modal2 -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content div-modal-color modal2center">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><span class="titleModal">Estado dde la solicitud</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <h1 id="messageVerification" class="titleBody2" >
               Se ha enviado su solicitud
            </h1>
        </div>
    </div>
</div>