<div *ngIf="user===null">

</div>
<div *ngIf="user">
    <div class="sombra">
        <nav class="navbar navbar-dark orangeHead">
            <div>
                <button class="navbar-toggler leftHead" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            </div>
            <div class="logoName">
                <h1>Teocalli</h1>
            </div>
        </nav>
    </div>
    
    <div class="pos-f-t sombra">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="orangeHead p-4">
                <div class="container">
                    <ul class="row">
                        <li routerLink="myProfile" routerLinkActive="btn-activado" class="btn-menuHead col-sm">
                            Mi Perfil
                        </li>
                        <li routerLink="myAccommodation" routerLinkActive="btn-activado" class="btn-menuHead col-sm">
                            Mi Departamento
                        </li>
                        <li routerLink="lodgings" routerLinkActive="btn-activado" class="btn-menuHead col-sm">
                            Buscar Departamentos
                        </li>
                        <li routerLink="help" routerLinkActive="btn-activado" class="btn-menuHead col-sm">
                            Ayuda
                        </li>
                        <li (click)="logout()" class="btn-menuHead col-sm">
                            Cerrar Sesion
                        </li>
                    </ul>
                </div>
    
            </div>
        </div>
    </div>
    <br>
</div>