.details {
  background-color: #555555;
  margin-top: 2em;
  margin-left: 25em;
  margin-right: 25em;
  padding: 2em;
}

.details-text {
  list-style: none;
}

.title-f {
  text-align: center;
  align-items: center;
  position: fixed;
  right: 15em;
}

.return {
  position: relative;
  text-decoration: none;
  color: white;
}

.title-de {
  font-size: 1.5em;
  font-family: sans-serif;
  text-align: justify;
  color: #e2e2e2;
  
}

.p-de {
  font-size: 1em;
  margin-left: 5em;
  font-family: sans-serif;
  text-align: center;
  color: #e2e2e2;
}

.arrow-f {
  transform: rotate(-180deg);
  width: 5%;
  height: 5%;
  margin-top: -.2em;
}