.payments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titles {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.date-title {
  margin-left: 40px;
  width: 50%;
  text-align: left;
}
.moreinfo-title {
  margin-right: 40px;
  width: 50%;
  text-align: right;
}

h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.payment {
  border: 1px solid white;
  background-color: #242424;
  width: 40%;
  height: 60px;
  display: flex;
  margin-bottom: 30px;
}

.date {
  margin-left: 20px;
  width: 50%;
  text-align: left;
  display: flex;
  align-items: center;
}

.moreinfo {
  margin-right: 70px;
  width: 50%;
  text-align: right;
}

a {
  font-size: 30px;
  text-decoration: none;
  color: white;
}
