<div class="container">
    <div class="row">
      <div class="col-6">
        <a class="return" routerLink="/paymentHistory"><h2 class="return"><img class="arrow-f" src="../../../assets/arrow-right-circle-fill.svg" alt=""> Regresar</h2></a>
      </div>
      <div class="col-6">
        <h1 class="title-f">Detalles del pago</h1>
      </div>
    </div>
    
</div>
<nav class="details">
  <div class="details-text">
    <nav>
      <h1 class="title-de">Alojamiento</h1>
      <p class="p-de">{{pays.accommodation}}</p>
    </nav>
    <nav>
      <h1 class="title-de">Cantidad</h1>
      <p class="p-de">{{pays.price}}</p>
    </nav>
    <nav>
      <h1 class="title-de">Fecha de pago</h1>
      <p class="p-de">{{pays.date}}</p>
    </nav>
    <nav>
      <h1 class="title-de">Método de pago</h1>
      <p class="p-de">{{pays.metod}}</p>
    </nav>
  </div>
</nav>