<div class="payments">
    <h3>Historial de pagos</h3>
    <div class="titles">
      <div class="date-title">
        <h6>Fecha</h6>
      </div>
      <div class="moreinfo-title">
        <h6>Más detalles</h6>
      </div>
    </div>
    <div class="payment">
      <div class="date">
        <h6>00/00/0000</h6>
      </div>
      <div class="moreinfo">
        <a routerLink="/viewPayments"><img class="arrowIcon" src="../../../assets/arrow-right-circle-fill.svg" alt=""></a>
      </div>
    </div>
  
  </div>
  