<div class="myaccomodation">
  <div class="info">
      <div class="title">
        <h3>Mi hospedaje</h3>
      </div>
      <div class="description">
        <div class="files">
          <button type="button" class="btn btn-primary">Pagar renta</button>
          <button type="button" class="btn btn-primary">Ver historial de pagos</button>
        </div>
      </div>
  </div>
  <div class="rank">
    <img src="../../../assets/image.jpg" alt="">
    <button type="button" class="btn btn-primary">Valorar</button>
  </div>
</div>
