.myaccomodation {
    display: flex;
}

.info {
    width: 50%;
    margin: 30px;
}

.rank {
    width: 50%;
    margin: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    background-color: #FF4D00;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.description {
    background-color: #242424;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.files {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-primary {
    margin: 20px;
    width: 80%;
    height: 60px;
    border: none;
    background-color: #FF4D00;
    outline: none;
    border-radius: 45px;
}

.btn-primary:hover {
    background-color: none;
}

img {
    width: 80%;
    border-radius: 180px;
}

.btn-secondary {
    margin: 20px;
    border-radius: 40px;
    width: 80%;
    height: 60px;
    border: none;
    background-color: #ff0000;
    outline: none;
}