<div *ngIf="!acomodation">
    <p>Todavia no exixte un alojamiento para este usuario</p>
</div>
<div class="myaccomodation" *ngIf="acomodation">
    <div class="info">
        <div class="title">
            <h3>Mi hospedaje</h3>
        </div>
        <div class="description">
            <div class="files">
                <button routerLink="/pay" type="button" class="btn btn-primary">Pagar renta</button>
                <button routerLink="/paymentHistory" type="button" class="btn btn-primary">Ver historial de pagos</button>
                <button type="button" class="btn btn-secondary">Reportar</button>
            </div>
        </div>
    </div>
    <br>
    <div class="rank">
        <img src="{{acomodation.photos[1].photo}}" alt=""><br>
        <h3>{{acomodation.name}}</h3>
    </div>



</div>