<div class="myaccomodation">
    <div class="info">
        <div class="title">
            <h3>Mi hospedaje</h3>
        </div>
        <div class="description">
            <div class="files">
                <button routerLink="/pay" type="button" class="btn btn-primary">Pagar renta</button>
                <button routerLink="/paymentHistory" type="button" class="btn btn-primary">Ver historial de pagos</button>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Reportar</button>
            </div>
        </div>
    </div>
    <br>
    <div class="rank">
        <img src="../../../assets/image.jpg" alt="">
    </div>



</div>
<hr>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog div-modal-color" role="document">
        <div class="modal-content div-modal-color">
            <div class="modal-header div-modal-color">
                <h5 class="modal-title" id="exampleModalLabel"><span class="titleModal">Reportar Alojamiento</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body div-modal-color">
                <h1 class="titleBody">
                    Aqui podras mandar un reporte del alojamiento si es que presentas algunos incovenientes
                </h1>
                <hr>
                <div class="formatText">
                    <textarea class="formatText" name="" id="" cols="30" rows="10" placeholder="Escriba aqui su mensaje"></textarea>
                </div>
            </div>
            <div class="modal-footer div-modal-color">
                <button type="button" class="btn btn-secondary btn-half" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary btn-half">Enviar reporte</button>
            </div>
        </div>
    </div>
</div>